@import "../../global.scss";

.navbar{
    min-width: 500px;
}
.main-menu-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-toggle-custom {
    background: white;
}

.offcanvas{
    background: $dark-green;

    #offcanvasNavbarDropdown-expand {
        background: $dark-green;
    }
}

.site-logo {
    height: 60px;
    width: 150px;
    object-fit: fill;
}

.item-count {
    color:white;
    background:red;
    display: unset;
    border-radius: 50%;
    align-items: center;
}
