@import "../../global.scss";

.navbar{
    min-width: 350px;
    height: 65px;
}
.main-menu-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-toggle-custom {
    background: white;
}

.offcanvas{
    background: $dark-green;

    .btn-close {
        color: white;
    }

    .off-canvas-header {
        border-bottom: 1px solid white;
    }


    .avatar-dropdown {
        @media screen and (min-width: 768px) {
            align-items: start;
        }
    }
}
.logo {
    width: 60px;
    height: 60px;
}


.site-logo {
    // height: 60px;
    width: 60px;
    object-fit: cover;
    margin-top: -1.8rem;
}

.item-count {
    color:rgb(255, 255, 255);
    background:red;
    display: flex;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    align-items: center;
    justify-content: center;
}
