.categories {
    list-style-type: none;
    margin-right: 12px;
    padding-left: 12px;
    
    a {
        text-decoration: none;
    }
}

.brands {
    list-style-type:none;
    margin-right: 12px;
    margin-left: 12px;

    a {
        text-decoration: none;
    }
}