@import '../../global.scss';

footer {
    background-color: $dark-green;

}



.social {
    
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
