@import "./global.scss";


.section {
    // background-image: url("../assets/bg.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    // height: 500px;
    background-position: 95%;
    margin-top: -3rem;
}

// .showcase {
//     height: 100vh;
// }

