$width: 768px;

$white:#e4e5eb;
$royal-green : #19D67B;
$royal-blue : #05253C;
$royal-yellow : #FCE880;
$dark-green : #346F64;
$accent:#C2ECF2;
$raisin: #222127;
$orange: #F16022;

$theme-colors: (
  "primary": $royal-green,
  "secondary":$royal-yellow,
  // "danger": $danger,
  "dark": $raisin,
  "light": $white,
  "raisin": $raisin,
  "orange": $orange,
);

$custom-colors: (
  "royal-green": $royal-green,
  "royal-blue": $royal-blue,
  "royal-yellow": $royal-yellow,
  "dark-green": $dark-green,
  "accent": $accent,
  "white": $white,
  "black": #000,
  "raisin": $raisin,
  "orange": $orange,
);


$theme-colors: map-merge($map1: $theme-colors, $map2: $custom-colors)
